* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
}

#sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: slategray;
}
#logo{
    height: 150px;
    width: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
}
#logo>img:hover{
    height: 180px;
    width: 180px;
}
#logo:hover{
    color: antiquewhite;
}
.tag-1{
    box-shadow: 5px 5px 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.tag-1:hover{
    box-shadow: 5px 5px 5px black;
    background-color: rgb(43, 34, 106);
    color: antiquewhite;
}
.name{
    font-size: 1.2rem;
    font-style: italic;
}
#sales{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.number{
    margin-left: 15px;
}
#sidebar>button {
    margin-top: 5px;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding: 5px;
    font-size: 18px;
    background-color: slategray;
}

#sidebar>button {
    display: flex;
    gap: 10px;
}
#sidebar>button:hover{
    background-color: rgb(43, 34, 106);
    color: antiquewhite;
}

/*  */

#content {
    width: 80%;
    background-color: rgb(237, 230, 230);
}
/* #nav-1{
    position: fixed;
} */

#nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    z-index: 40;
    
}


#hember {
    border: 1px solid black;
    padding: 5px;
}

.dropbtn {
    /* background-color: #453da5; */
    /* color: white; */
    padding: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #948fce;
}

/*  */

/* Dashboard */

#dashboard{
    margin-top: 50px;
    height: 90vh;
    overflow: scroll;
}

#dash{
    display: flex;
    justify-content: center;
}

#dash-1{
    width: 30%;
    margin: 20px;
    border: 1px solid black;
    padding: 16px;
}
#dash-main{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.view{
    font-size: 2rem;
    margin-bottom: 10px;
}
#dash-3>p{
    margin: 10px;
}
#dash-2{
    display: flex;
    align-items: center;
}
.foter{
    margin: 10px;
    text-align: center;
}
#dash-chart{
    display: flex;
    justify-content: space-between;
}

#corner{
    height: 500px;
    width: 500px;
}
#corner-1{
    height: 500px;
    width: 500px;
}

#tables{
    display: flex;
    justify-content: space-between;
}
#table-1{
    border: 1px solid black;
    width: 45%;
}
#table-2{
    border: 1px solid black;
    width: 45%;
}
#managment-1{
    display: flex;
    justify-content: space-between;
}
#managment{
    width: 50%;
    border: 1px solid black;
}
#record{
    margin-left: 5px;
}
.data-1{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#team{
    width: 40%;
    border: 1px solid black;
}
.inbox{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
/* dashboard over */

/* chart */

#chart{
    height: 90vh;
    margin-top: 50px;
    overflow: scroll;
}
#achart{
    display: flex;
    justify-content: space-around;
}

#chart-1{
    height: 500px;
    width: 500px;
}
#chart-2{
    height: 500px;
    width: 500px;
}
#chart-3{
    margin-left: 20px;
}
#chart-4{
    margin-left: 20px;
}

/* chart over */

/* table */
#table{
    margin-top: 50px;
    height: 90vh;
    overflow: scroll;
}
table{
    margin-top: 10px;
    width: 100%;
    border-collapse: separate;
}
tr,td{
    border: none;
    padding: 5px;
}
#table-strip{
    border-collapse: collapse;
}
#table-strip>td,tr{
    border: 1px solid black;
    padding: 5px;
}
#table-borde{
    border: 1px solid black;
}
/* table over */

/* form */
#form{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: scroll;
    background-color: rgb(202, 217, 228);
}
form{
    width: 550px;
    height: 300px; 
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
    background-color:  rgb(237, 230, 230);
}
.s-form{
    margin: 10px;
}

#log-in{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
input{
    margin: 5px;
}


/* form over */

/* calender */

#calender{
    margin-top: 50px;
    overflow: scroll;
}
#calendar-1{
    margin: 10px;
}
/* calender over */

/* user */

#user{
    margin-top: 50px;
    height: 90vh;
    overflow: scroll;
}
#user-tab{
    margin: 10px;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 15px 15px 10px gray;
}

/* user over */

/* blog */

#blog{
    margin-top: 50px;
    height: 90vh;
    overflow: scroll;
}
#blog-img{
    display: flex;
    justify-content: space-around;
}
#blog-img-1{
    margin-top: 10px;
    height: 400px;
    width: 400px;
    box-shadow: 10px 10px 5px black;
}
#blog-img-2{
    margin-top: 10px;
    height: 400px;
    width: 400px;
    box-shadow: 10px 10px 5px black;
}
/* blog over */

/* pop-up form */

/* .lg {
  border: 2px solid rgba(14, 14, 14, 0.807);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 10px;
  font-style: italic;
  font-weight: 200;
  gap: 10px;
  margin-top: 150px;
  border-radius: 5%;  
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.479), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);


}

.btn {
  text-align: center;
  margin: auto;
  border-radius: 800px;
  color: solid black;
  width: 200px;
  padding: 5px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  color: #000;
}

.inp {
  width: 150px;
  height: 25px;
  margin: 0px 75px;
  font-weight: 200;
  border-radius: 5px;
}

.inp:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

input[type="password"] {-webkit-text-security: disc !important;} 

.inline {
  justify-content: center;
  display: flex;
  gap: 70px;
}

.k {
  font-weight: 500px;
  gap: 5%;
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-right: 3px;
}

a {
  text-decoration: none;
  color: #000;
}

.k label input {
  color: #000;
  text-decoration: none;
}*/

#module {
    width: 85%;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 21%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(12px);
    z-index: 25;
} 

.lg{
    height: 480px;
    width: 380px;
    position: relative;
    margin:6% auto;
    background-color: white;
    padding: 5px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px gray;
    border-radius: 30px;
    /* overflow: hidden; */
}
.toggle-btn{
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.toggle-btn1{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
/* #btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    transition: .5s;
} */
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons>i{
    margin: 0 12px;
    cursor: pointer;
    font-size: 2rem;
}
.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    height: 300px;
    transition: .5s;
}
.input-feild{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom:1px solid black;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    margin-top: 50px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    background:  lightcoral;
    border: 0;
    border-radius: 30px;
}
/* .check-box{
    margin: 0px 10px 20px 0;
} */
span{
    color: rgb(39, 35, 30);
    font-size: 12px;
    bottom: 130px;
}

/* pop-up form over */